body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(228, 228, 228);
}

main {

  display: flex;
  flex-direction: column;
  
}

.imgbanner img {
  width: 100%;

}

.flechavolver {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: blue;
  font-size: 1.5rem;
  gap: 15px;
  margin-top: 30px;
  padding: 0px 0px 0px 80px;
  padding-left: 20px;
}



.flechavolver p {
  color: blue;
  font-size: 1rem;
}

.productos-categoria {
  display: flex;
  margin-top: 5px;
  gap: 20px;
  /* Espacio entre los productos */
  justify-content: center;
}


.cerveza1 img {
  width: 43%;
}

.productos-categoria .detail {
  padding: 0px 0px 70px 10px;
}


.productos-categoria .product {
  font-size: 1.2rem;
  font-weight: bold;
}

.productos-categoria .liters {
  font-size: 1rem;

}


.productos-categoria .price {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10px;
}

/* Estilo para la clase .price */
.price {
  font-size: 1rem;
  font-weight: bold;
}

.delivery {
  font-size: 1rem;
  margin-top: 20px;
}

.productos-categoria .desc {
  font-size: 1rem;
  margin-top: 10px;
}

.contador {
  display: flex;
  align-items: center;
  margin-top: 25px;
  border: 2px solid #ccc;
  /* Borde del contador */
  border-radius: 15px;
  /* Borde circular */
  overflow: hidden;
  /* Evita que los bordes redondeados se vean afectados por el contenido interno */
  justify-content: space-between;
  padding: 14px;
  height: 40px;
  width: 100%;
}


.contador button,
.contador span {
  /* padding: 8px; */
  border: none;
  background-color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  /* Hace que el texto esté en negrita */
  outline: none;
  /* Elimina el contorno del botón */
}

.contador button {
  color: blue;
}

.addContador {
  margin-top: 12px;
  width: 100%;
  border-radius: 7px;
  font-size: 1.1rem;
  background-color: blue;
  color: white;
  border: 2px solid black;
  cursor: pointer;
}


.add {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 15px;
  background-color: blue;
  color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid #ffcf01;
  cursor: pointer;
  width: 100%;
  height: 53px;
  letter-spacing: 1px;
}

/* Estilo para la clase .add (botón AGREGAR) */


.add:hover,
.addContador:hover {
  background-color: #ffd00185;
  /* Cambia el color de fondo al pasar el ratón */
  border-color: #ffcf01;

}

.titulo1 {
  font-size: 1rem;
  color: #1100f6;
  padding: 0px 15px;

}

.contenedorcarrusel {
  display: flex;
  margin-right: 10%;
  margin-left: 10%;
  padding: 2% 0% 5% 0%;
}

/* Estilo para la barra de desplazamiento */
.contenedorcarrusel::-webkit-scrollbar {
  width: 12px;
  /* Ancho de la barra de desplazamiento */
}

/* Estilo para el "pulgar" de la barra de desplazamiento */
.contenedorcarrusel::-webkit-scrollbar-thumb {
  background-color: #4CAF50;
  /* Color del "pulgar" */
  border-radius: 6px;
  /* Bordes redondeados del "pulgar" */
}

/* Estilo para la pista (fondo) de la barra de desplazamiento */
.contenedorcarrusel::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  /* Color de la pista */
}

.flecha1,
.flecha2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: blue;
  font-size: 2rem;
}


/* Estilo para el contenedor de productos */
.productos-recomendados {
  display: flex;
  overflow-x: auto;
  gap: 3%;
  margin-left: 5%;
  margin-right: 5%;
  overflow-y: hidden;
}



/* Estilo para cada artículo de producto */
.productos-recomendados article {
  padding: 5px 5px 5px 5px;
  border: 1px solid #ccc;
  height: 330px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  text-align: center;

}

.productos-recomendados a {
  text-decoration: none;
}


/* Estilo para la clase .product */
.product {
  font-size: 1rem;
  font-weight: bold;
}








/* Estilo para la imagen dentro del artículo */
.productos-recomendados article img {
  width: 200px;
  max-height: 120px;
  max-width: 150px;

  background-size: contain; 
  background-repeat: no-repeat; 
  background-position: center;
  object-fit: contain;

}

.descripcionProducto {
  font-size: 0.8rem;
  color: #131212;
}

.cerveza1 {
  display: flex;
  gap: 3%;
  flex-direction: column;
  align-items: center;
}


.productos-categoria img {
  max-width: 90%;
  padding: 0px 0px 10px 0px;
}

.flecha1,
.flecha2 {
  display: none;
}

/* Estilo para el contenedor de productos */
.productos-recomendados {
  display: flex;
  overflow-x: auto;
  justify-content: flex-start;
  gap: 2%;
  margin-top: 20px;
  padding: 0px 0px 30px 23px;
  flex-direction: row;
  align-items: center;
}

/*carousel*/
.slider-wrapper {
  position: relative;
  overflow: hidden;
}

.slides-container {
  height: calc(100vh - 20rem);
  width: 100%;
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.slide-arrow {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 4rem;
  background-color: white;
  border: none;
  width: 2rem;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 100ms;
}

.slide-arrow:hover,
.slide-arrow:focus {
  opacity: 1;
}

#slide-arrow-prev {
  left: 0;
  padding-left: 0.25rem;
  border-radius: 0 2rem 2rem 0;
}

#slide-arrow-next {
  right: 0;
  padding-left: 0.75rem;
  border-radius: 2rem 0 0 2rem;
}

.slide {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
}

.slide img {
  height: 100%;
  width: 100%;
}

/* .slide:nth-child(1) {
    background-color: #49b293;
  }
  
  .slide:nth-child(2) {
    background-color: #b03532;
  }
  
  .slide:nth-child(3) {
    background-color: #6a478f;
    margin: 0;
  }
  
  .slide:nth-child(4) {
    background-color: #da6f2b;
  }
   */



/*CAROUSEL CATEGORIAS*/
.productos-main-caja {
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-shadow: 0 2px 6px 0 rgba(136, 148, 171, .2), 0 24px 20px -24px rgba(71, 82, 107, .1);
  margin: 10px;
  padding: 10px;
  max-height: 300px;
  overflow: scroll;
  overflow-y: hidden;
}
.productos-main-caja a {
  text-decoration: none; 
  color: #000; 
}

.productos-caja {
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 5px;
  color: black;
  max-height: 100%;
  max-width: 120px;
  text-align: center;
  border: 1px solid #ccc;
  transition: width 0.3s, height 0.3s
}


.productos-caja-1 {
  flex: 80%;
}
.avatar-imagen{
  width: 110px;
  height: 110px;
  background-size: contain; 
  background-repeat: no-repeat; 
  background-position: center;
  object-fit: contain;
  
}

.productos-caja-2 {
  flex: 10%;
  align-self: center;
}

.productos-caja-2-botones {
  display: flex;
  justify-content: space-evenly;
}

.productos-caja-2-botones form button {
 
  border: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
  cursor: pointer;
}

.productos-caja-2-boton {
  all: unset;
  text-decoration: none;
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  padding: 4px;
  margin: 4px;
}

.productos-caja-2-boton:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-offset: 15px;
  outline-color: rgba(255, 255, 255, 0);
  text-shadow: 1px 1px 2px #427388;
}
.productos-caja-3{
  flex: 10%;
}

.productos-caja-1 {
  overflow: hidden;
}


/*FIN_PRODUCTOS*/

/*BUSCADOR*/
.buscador-caja {
  border-radius: 20px;
  background-color: rgb(228, 228, 228);
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 480px;
  color: rgb(228, 228, 228);
  box-shadow: 0 2px 6px 0 rgba(136, 148, 171, .2), 0 24px 20px -24px rgba(71, 82, 107, .1);
  overflow: hidden;
  margin: 10px auto;
}

.buscador {
  border: none;
  flex: 1;
  outline: none;
  height: 100%;
  padding: 0 20px;
  font-size: 16px;
  background-color: white;
  color: black;
}

/*Tablet*/
@media (min-width:460px) {


  .imgbanner img {
    height: 280px;
    /* Ajusta la altura de la imagen del banner para tablets */
  }

}


/*Desktop*/
@media (min-width: 768px) {}