<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {titulo : 'Error', estilo : '404.css'}) %>
<body>
    <main>
    <h1>ERROR FATAL!!!</h1>
    <h2>Esta pagina es vulnerable a virus</h2>
    <h6>Broma, Solo escribe bien la URL</h6>
</main>
</body>
</html>