
<div class="menu">
    <button id="toggleBtn">Menú</button>
    <ul class="ul-menu">
        <li><a href="/admin">Principal</a></li>
        <li><a href="/admin/productos">Productos</a></li>
        <li><a href="/admin/pedidos">Pedidos</a></li>
        <li><a href="#">Ventas</a></li>
        <li><a href="#">ofertas</a></li>
        <li><a href="/admin/usuarios">Usuarios Registrados</a></li>
        <li><a href="#">visitas</a></li>
        <li><a href="#">Foro y consultas</a></li>
        <li><a href="#">Detener Funcionamiento</a></li>
    </ul>
</div>