<section class="slider-wrapper">
    <button class="slide-arrow" id="slide-arrow-prev">
        &#8249;
    </button>
    <button class="slide-arrow" id="slide-arrow-next">
        &#8250;
    </button>
    <ul class="slides-container" id="slides-container">
        <li class="slide"><img src="/img/carousel/carousel1.jpg" alt=""></li>
        <li class="slide"><img src="/img/carousel/carousel2.jpg" alt=""></li>
        <li class="slide"><img src="/img/carousel/carousel3.jpg" alt=""></li>
    </ul>
</section>
<script src="/js/carrouselProductos.js"></script>