<footer>
  <div class="redes">
    <p>Seguinos en nuestras redes</p>
    <ul>
      <li>
        <a href=""><i class="fa-brands fa-telegram"></i></a>
      </li>
      <li>
        <a href=""><i class="fa-brands fa-whatsapp"></i></a>
      </li>
      <li>
        <a href=""><i class="fa-brands fa-facebook"></i></a>
      </li>
      <li>
        <a href=""><i class="fa-brands fa-tiktok"></i></a>
      </li>
      <li>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
      </li>
    </ul>
  </div>
  <hr class="linea-divisoria" />
  <div class="contact-section">
    <div class="copy">© 2023 SHOP DRINK</div>
    <div class="contact-section2">
      BEBER CON MODERACIÓN. PROHIBIDA SU VENTA A MENORES DE 18 AÑOS
    </div>
  </div>
</footer>
